body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}
fieldset{
    background-color: rgb(233, 241, 235);
    max-width: 400px;
    margin:35px auto;
    padding: 30px;
    border: 3px solid #ccc;
    border-radius: 10px;
}
legend{
    font-weight:500px;
    color: #333;
    font-size: larger;
}
input[type="text"], select,textarea{
    border-radius: 4px;
    width:calc(100% - 20px);
    border: 1px solid #ccc;
    margin-bottom:20px;
    margin-top:3px;
    padding: 5px;
}    
.small-text{
    font-family:  Calibri;
    font-size: 15px;

}
input[text="radio"]{
   margin:4px;
}
.ck{
    font-family:  Calibri;
    font-size: 15px;
} 
input[type="submit"],
input[type="button"]{
    width: ;
}

